.title{
    text-align: center;
}
.CartTable tr td:nth-child(even){
    padding-left: 40px;
    text-align: right;
}
.order-Button{
    background-color: goldenrod;
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}